https://dominio.com {

  gzip
  push
  
  tls correodealguien@servidor.com
  
  log / /var/log/caddy.log {
    rotate_size 5
    rotate_keep 3
  }
  errors stderr

  proxy / localhost:2368 {
    transparent
  }

}

https://www.dominio.com {

  tls correodealguien@servidor.com
  redir https://web.com{uri}

}
