https://dominio.com {

  gzip
  tls correodealguien@servidor.com
  log /var/log/caddy.log

  proxy / localhost:2368 {
    header_upstream Host {host}
    header_upstream X-Real-IP {remote}
    header_upstream X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
    transparent
  }

}

https://www.dominio.com {

  tls correodealguien@servidor.com
  redir https://web.com{uri}

}
